<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Shadow/IdeaProjects/RedditProject/src">
        <classes>
            <class name="Login">
                <methods>
                    <include name="setup"/>
                    <include name="testValidLogin"/>
                    <include name="testLogout"/>
                    <include name="testLogoutRedirect"/>
                    <include name="testInvalidLogin"/>
                    <include name="testEmptyLoginFields"/>
                </methods>
            </class>
            <class name="Search">
                <methods>
                    <include name="setup"/>
                    <include name="homepage"/>
                    <include name="performSearch"/>
                    <include name="testSearchWithEmptyInput"/>
                    <include name="testSearchRelevance"/>
                    <include name="testSearchRetainsInput"/>
                    <include name="testSearchDropdownSuggestions"/>
                    <include name="testSearchButtons"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>